header.header{
    background-color: rgb(255, 255, 255);
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    margin: 0px 15px;
}

header.header{
    margin-bottom: -10px;
}