aside.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696969;
}

aside.logo img{
    padding: 0px 10px 0px 35px;
    width: 80%;
}

@media(max-width: 576px){
    aside.logo img{
        width: 350px;
    }
}